<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keyob.payment.gateway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE0"/>

    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

      <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- <activity android:name=".activities.MainActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name="com.keyob.payment.gateway.activities.GetPhoneNumberActivity" />
        <activity android:name="com.keyob.payment.gateway.activities.ConfirmCodeActivity" />
        <activity android:name="com.keyob.payment.gateway.activities.GetDetaileActivity" />
        <activity android:name="com.keyob.payment.gateway.activities.HomeActivity" />
        <activity
            android:name="com.keyob.payment.gateway.activities.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.keyob.payment.gateway.activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name="com.keyob.payment.gateway.activities.CreateWalletActivity" />
        <activity android:name="com.keyob.payment.gateway.activities.WalletDetail" />
        <activity android:name="com.keyob.payment.gateway.activities.EditeWalletActivity"></activity>

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES"  android:value="barcode"/>
    </application>



</manifest>